/dist
.env
.env.backup
.env.local
.env.production
.DS_Store
/uploads
/node_modules
yarn-error.log
/.idea
/build
.idea

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
